:root {
  --heading-font-family: "Della Respira", serif;
  --subheading-font-family: "Open Sans", sans-serif;
  --primary-color: #c3b9cc;
  --main-gradient: linear-gradient(
    0deg,
    rgb(236, 232, 244) 0%,
    rgb(253, 248, 253) 100%
  );
}

body {
  font-family: sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 3px;
}

h2 {
  font-family: var(--subheading-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/images/background.png");
}

.hero-content {
  padding: 100px;
  text-align: center;
  color: var(--primary-color);
}

.hero-heading {
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 3px;
}

.hero-subheading {
  font-family: var(--subheading-font-family);
  font-weight: 400;
  font-size: 25px;
  padding-bottom: 100px;
}

.home-about-button {
  color: #2f2a31;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
}

.home-about-button:hover {
  background-color: #5e5368;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-size: 30px;
}
.nav-item {
  font-family: var(--subheading-font-family);
  color: var(--primary-color);
  font-size: 17px;
  font-weight: 200;
  padding-right: 30px;
}

.container {
  padding: 20px;
}

.skills-all,
.socials-all {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: var(--primary-color);
  border-radius: 5px;
}

.social {
  padding: 1rem;
  margin: 1rem;
  background: var(--primary-color);
  border-radius: 5px;
}

.learn-more-button {
  color: #2f2a31;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
}
.learn-more-button:hover {
  background-color: #5e5368;
}

form {
  font-family: var(--subheading-font-family);
  font-size: 15px;
  font-weight: 500;
}

.contact-form-button {
  margin: 1rem;
  padding: 1rem 2rem;
  color: #2f2a31;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
}
.contact-form-button:hover {
  background-color: #5e5368;
}

@media (max-width: 576px) {
  .hero-content {
    padding: 20px;
  }
  .center-on-mobile {
    text-align: center;
  }
  .skills-all,
  .socials-all {
    justify-content: center;
  }
  .social {
    margin: 0.5rem;
  }
}
