:root {
  --heading-font-family: "Unica One", sans-serif;
  --subheading-font-family: "Nunito Sans", sans-serif;
  --primary-color: #f8ece4;
  --secondary-color: #262d40;
  --accent-color: #e05260;
  --main-gradient: linear-gradient(
    0deg,
    rgb(236, 232, 244) 0%,
    rgb(253, 248, 253) 100%
  );
}

html {
  scroll-padding-top: 6rem;
}

body {
  font-family: sans-serif;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 3px;
}

h3 {
  font-family: var(--subheading-font-family);
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/geometric.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-content {
  padding: 100px;
  text-align: center;
  color: var(--primary-color);
}

.hero-heading {
  font-family: var(--heading-font-family);
  font-weight: 800;
  font-size: 80px;
  text-shadow: 1px 1px 5px #262d40;
}

.hero-subheading {
  font-family: var(--subheading-font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  padding-bottom: 100px;
  text-shadow: 1px 1px 5px black;
}

.home-about-button {
  font-family: var(--subheading-font-family);
  color: var(--primary-color);
  font-size: 20px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  box-shadow: 1px 1px 5px #262d40;
}

.home-about-button:hover {
  color: var(--accent-color);
  background-color: var(--secondary-color);
}

nav {
  top: 0;
}

.navbar-brand {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-size: 30px;
}
.nav-item {
  font-family: var(--subheading-font-family);
  font-size: 17px;
  font-weight: 400;
  padding-right: 30px;
}

.nav-item a:hover {
  color: var(--primary-color);
  font-weight: 500;
}

.container {
  padding: 20px;
}

.section-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-bottom: 10rem;
}

.col-md-6 {
  padding: 20px;
}

.skills-all,
.socials-all {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background: var(--primary-color);
  border-radius: 5px;
}

.social {
  padding: 1rem;
  margin: 0.5rem;
  background: var(--primary-color);
  border-radius: 5px;
}

.learn-more-button {
  color: #2f2a31;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
}
.learn-more-button:hover {
  background-color: #5e5368;
}

form {
  font-family: var(--subheading-font-family);
  font-size: 15px;
  font-weight: 500;
}

.contact-form-button {
  margin: 1rem;
  padding: 1rem 2rem;
  color: #2f2a31;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary-color);
  border: none;
}
.contact-form-button:hover {
  background-color: #5e5368;
}

@media (max-width: 576px) {
  .hero-content {
    padding: 20px;
    margin-top: 100px;
  }
  .hero-heading {
    font-size: 70px;
  }
  .hero-subheading {
    font-size: 30px;
    padding-bottom: 50px;
  }
  .section-container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .center-on-mobile {
    text-align: center;
  }
  .skills-all,
  .socials-all {
    justify-content: center;
  }
}
